# Database
DATABASE_URL="postgres://c0673fbfbc66a7ec2bdcb16fc640b0b4f82f0e2baa7f882c7a1901eb5b77ba46:sk_jb81w7pyKbygrzKZX_K70@db.prisma.io:5432/postgres?sslmode=require"

# Authentication
JWT_SECRET="synergisecret"

# Google Gemini AI
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyCbs1d9Q-2HBS_ydjw9fjPUiArIf3r3b0k

# Tavily Web Search (for web search agent)
TAVILY_API_KEY=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

E2B_API_KEY=e2b_b56545c71c83458e55314d43f2afea90fa6d77d7

OPENROUTER_API_KEY=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
# Email (Optional)
POSTMARK_SERVER_TOKEN=c13ac1fd-7090-43a2-b25d-794b471d4ac8
FROM_EMAIL="noreply@yourdomain.com"

# Environment
NODE_ENV="development"
